@page "{recivedId:int?}"
@using BrowserGame.ModelUtils
@using BrowserGame.Models
@using BrowserGame.Utilities
@model BrowserGame.Pages.Game.InnerCityModel
@inject IHtmlColors HtmlColors

@{
    var city = (City)ViewData["City"];
    var aspPageUpgrade = "/Game/UpgradeCityBuilding";
    var aspPageBuildNew = "/Game/NewCityBuilding";

    var getAspPage = 
        (CityBuilding cb) => cb.CityBuildingType == CityBuildingType.EmptySlot ? aspPageBuildNew : aspPageUpgrade;
    var getColor = 
        (CityBuilding cb) => 
        cb.CityBuildingType == CityBuildingType.EmptySlot 
        ? HtmlColors.EmptySlot 
        : HtmlColors.BuildingSlotBuilding;
}

<partial name="./Shared/_CommonGameNavigation" view-data="ViewData" />

<div class="row text-center justify-content-center">
    <div class="col-12 mt-2 mb-2">
        <div class="row justify-content-center">
            <div class="col-8 text-@HtmlColors.MainBuilding border border-@HtmlColors.MainBuilding">
                <a class="text-@HtmlColors.MainBuilding" 
                asp-area="" 
                asp-page="@getAspPage(city.GetMainBuilding())" 
                asp-route-id="@city.GetMainBuilding().Id">
                    <div><h3>@city.GetMainBuilding().CityBuildingType.ToDisplayName()</h3></div>
                    <div>
                        <h4>@city.GetMainBuilding().Level</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

    @foreach(CityBuilding building in city.GetBuildingSlots())
    {
        <div class="col-6 col-md-3 mt-2">
            <div class="row justify-content-center">
                <div class="col-8 text-@getColor(building) border border-@getColor(building)">
                    <a class="text-@getColor(building)" 
                    asp-area="" 
                    asp-page="@getAspPage(building)" 
                    asp-route-id="@building.Id">
                        <div><h3>@building.CityBuildingType.ToDisplayName()</h3></div>
                        <div>
                             <h4>@building.Level</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }

    <div class="col-12 mt-4">
        <div class="row justify-content-center">
            <div class="col-8 text-@HtmlColors.Wall border border-@HtmlColors.Wall">
                <a class="text-@HtmlColors.Wall" 
                asp-area="" 
                asp-page="@getAspPage(city.GetWall())" 
                asp-route-id="@city.GetWall().Id">
                    <div><h3>@city.GetWall().CityBuildingType.ToDisplayName()</h3></div>
                    <div>
                        <h4>@city.GetWall().Level</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<partial name="./Shared/_CommonBuildProgress" view-data="ViewData"/>