@page "{id:int}"
@using BrowserGame.ModelUtils
@model BrowserGame.Pages.Game.OpenMessageModel

@{
    var cityManager = (ICityManager)ViewData["CityManager"];
}

<partial name="./Shared/_CommonGameNavigation" view-data="ViewData" />

<div class="row justify-content-center text-center">
    <div class="col-md-4">
        <div>
            @Html.DisplayNameFor(model => model.Message.SenderName):
            @Html.DisplayFor(model => model.Message.SenderName)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Message.Title):
            @Html.DisplayFor(model => model.Message.Title)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Message.MessageBody): <br />
            @Html.DisplayFor(model => model.Message.MessageBody)
        </div>
    </div>

    <div class="pt-5">
    <a asp-page="./Inbox" asp-route-pageIndex="@Model.PageIndex">Back to List</a>
    </div>
</div>

<partial name="./Shared/_CommonBuildProgress" view-data="ViewData"/>
