@page "{id:int}"
@using BrowserGame.ModelUtils
@using BrowserGame.Models
@model BrowserGame.Pages.Game.OpenMessageModel

@{
    var city = (City)ViewData["City"];
}

<partial name="./Shared/_CommonGameNavigation" view-data="ViewData" />

<div class="row justify-content-center text-center">
    <div class="col-md-5">
        <table class="text-center w-100 table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Message.SenderName):
                        @Html.DisplayFor(model => model.Message.SenderName)
                    </th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayFor(model => model.Message.Title)
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Message.MessageBody)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pt-5">
    <a asp-page="./Inbox" asp-route-pageIndex="@Model.PageIndex">Back to List</a>
    </div>
</div>

<partial name="./Shared/_CommonBuildProgress" view-data="ViewData"/>
