@page "{id:int?}"
@using BrowserGame.Internal
@using BrowserGame.Models
@model BrowserGame.Pages.Game.OuterCityModel

@{
    var cityManager = (CityManager)ViewData["CityManager"];
}

<partial name="./Shared/_CommonGameNavigation" view-data="ViewData" />

<div class="row text-center justify-content-center">
    <div class="col-md-3">
        <div class="row justify-content-center">
            <div class="col-8 text-@ViewData["clayColor"]">
                <div><h3>Clay</h3></div>
                <div class="row justify-content-around">
                    @foreach (ResourceField resourceField in cityManager.Clay.Fields) {
                        <div class="col-5 mt-2 border border-@ViewData["clayColor"]">
                            <a class="text-@ViewData["clayColor"]" asp-area="" asp-page="/Game/UpgradeField" asp-route-id="@resourceField.Id">
                                <h4>@resourceField.Level</h4>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row justify-content-center">
            <div class="col-8 text-@ViewData["ironColor"]">
                <div><h3>Iron</h3></div>
                <div class="row justify-content-around">
                    @foreach (ResourceField resourceField in cityManager.Iron.Fields) {
                        <div class="col-5 mt-2 border border-@ViewData["ironColor"]">
                            <a class="text-@ViewData["ironColor"]" asp-area="" asp-page="/Game/UpgradeField" asp-route-id="@resourceField.Id">
                                <h4>@resourceField.Level</h4>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row justify-content-center">
            <div class="col-8 text-@ViewData["woodColor"]">
                <div><h3>Wood</h3></div>
                <div class="row justify-content-around">
                    @foreach (ResourceField resourceField in cityManager.Wood.Fields) {
                        <div class="col-5 mt-2 border border-@ViewData["woodColor"]">
                            <a class="text-@ViewData["woodColor"]" asp-area="" asp-page="/Game/UpgradeField" asp-route-id="@resourceField.Id">
                                <h4>@resourceField.Level</h4>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row justify-content-center">
            <div class="col-8 text-@ViewData["cropColor"]">
                <div><h3>Crop</h3></div>
                <div class="row justify-content-around">
                    @foreach (ResourceField resourceField in cityManager.Crop.Fields) {
                        <div class="col-2 mt-2 mr-2 border border-@ViewData["cropColor"]">
                            <a class="text-@ViewData["cropColor"]" asp-area="" asp-page="/Game/UpgradeField" asp-route-id="@resourceField.Id">
                                <h4>@resourceField.Level</h4>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="./Shared/_CommonBuildProgress" view-data="ViewData"/>
