@page "{id:int}"
@using BrowserGame.Models
@using BrowserGame.ModelUtils
@using BrowserGame.Utilities
@model BrowserGame.Pages.Game.UpgradeFieldModel
@inject IHtmlColors HtmlColors
@inject ApplicationDbContext DbContext

@{
    var city = (City)ViewData["City"];
    var resourceField = (ResourceField)ViewData["ResourceField"];
    var upgrade = (Upgrade)ViewData["Upgrade"];

    var buildingConstructor = new BuildingConstructor(city, DbContext);
    var span = TimeSpan.FromSeconds(city.GetBuildTimeInSeconds(upgrade));

    var postButtonDisabled = await buildingConstructor.CanUpgradeAsync(upgrade) ? "" : "disabled";
}

<partial name="./Shared/_CommonGameNavigation" view-data="ViewData" />

@if (upgrade.IsFinnalUpgrade)
{
    <div class="text-center">
        Building is full upgraded!
    </div>
}
else
{
    <div class="text-center">
        <div><h2>@resourceField.Name lvl. @resourceField.Level</h2></div>
        @if (resourceField.IsUpgradeInProgress) {
            <div>Upgrade in progress.</div>
        }
        else
        {
        <div>Cost to upgrade: </div>
        <div>
            <span class="text-@HtmlColors.Clay">@upgrade.ClayCost</span>
            <span class="text-@HtmlColors.Iron">@upgrade.IronCost</span>
            <span class="text-@HtmlColors.Wood">@upgrade.WoodCost</span>
            <span class="text-@HtmlColors.Crop">@upgrade.CropCost</span>
        </div>
        <div>
          Additional crop upkeep @upgrade.AdditionalCropUpkeep
        </div>
        <div>
            Current production: 
            <span class="text-info">@(resourceField.ProductionPerHour * TimeManager.Speed)</span>
            <br>

            Production after upgrade: 
            <span class="text-info">
                @((upgrade.ValueChangeInt + resourceField.ProductionPerHour) * TimeManager.Speed)
            </span>.
        </div>
        <div>
        Build time: @span.ToHtmlDisplay()
        </div>
         <form method="post">
            <div class="form-group">
                <input type="hidden" name="FieldId" value="@resourceField.Id" />
                <input type="submit" value="Upgrade" class="btn btn-primary" @postButtonDisabled />
            </div>
        </form>
        }
    </div>
}


<partial name="./Shared/_CommonBuildProgress" view-data="ViewData"/>