@using BrowserGame.ModelUtils
@using BrowserGame.Models
@using BrowserGame.Utilities
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext
@inject IHtmlColors HtmlColors
@{
    var city = (City)ViewData["City"];

    var warehouseCapacity = (int)city.GetCityBuildingValue(CityBuildingType.Warehouse);
    var granaryCapacity = (int)city.GetCityBuildingValue(CityBuildingType.Granary);

    bool hasUnreadMessages = 
        await DbContext.Messages
        .Where(m => m.RecipientId == city.PlayerId && m.Unread)
        .AnyAsync();
    var textColor = hasUnreadMessages ? "text-info" : "text-primary";
}

<div class="row justify-content-around text-center">
    <div class="col-3"><h3>
        <a class="text-primary" asp-area="" asp-page="/Game/OuterCity" asp-route-id="@city.Id">Outer City</a>
    </h3></div>
    <div class="col-3"><h3>
        <a class="text-primary" asp-area="" asp-page="/Game/InnerCity" asp-route-id="@city.Id">Inner City</a>
    </h3></div>
    <div class="col-3"><h3>
        <a class="text-primary" asp-area="" asp-page="/Game/Map" asp-route-x="@city.XCoord" asp-route-y="@city.YCoord">
            Map   
        </a>
    </h3></div>
    <div class="col-3"><h3><a class="@textColor" asp-area="" asp-page="/Game/Inbox">Inbox</a></h3></div>
</div>

<div class="text-center d-block text-truncate" data-toggle="tooltip" title="@city.Name">
    <h1>@city.Name</h1>
</div>

<div class="row justify-content-around text-center">
    <div class="col-md-3 text-@HtmlColors.Clay">
        <h4>Clay @city.Clay.AvailableInt/@warehouseCapacity, +@city.GetClayPerHour()</h4>
    </div>
    <div class="col-md-3 text-@HtmlColors.Iron">
        <h4>Iron @city.Iron.AvailableInt/@warehouseCapacity, +@city.GetIronPerHour()</h4>
    </div>
    <div class="col-md-3 text-@HtmlColors.Wood">
        <h4>Wood @city.Wood.AvailableInt/@warehouseCapacity, +@city.GetWoodPerHour()</h4>
    </div>
    <div class="col-md-3 text-@HtmlColors.Crop">
        <h4>Crop @city.Crop.AvailableInt/@granaryCapacity, +@city.GetCropPerHour()</h4>
    </div>
</div>