@using BrowserGame.ModelUtils
@using BrowserGame.Models
@using BrowserGame.Static
@{
    var cityManager = (ICityManager)ViewData["CityManager"];
    ViewData["Title"] = cityManager.Name;

    var warehouseCapacity = (int)cityManager.GetCityBuildingValue(CityBuildingType.Warehouse);
    var granaryCapacity = (int)cityManager.GetCityBuildingValue(CityBuildingType.Granary);
}

<div class="row justify-content-around text-center">
    <div class="col-3"><h3><a asp-area="" asp-page="/Game/OuterCity" asp-route-id="@cityManager.Id">Outer City</a></h3></div>
    <div class="col-3"><h3><a asp-area="" asp-page="/Game/InnerCity" asp-route-id="@cityManager.Id">Inner City</a></h3></div>
</div>

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row justify-content-around text-center">
    <div class="col-md-3 text-@HtmlColors.Clay"><h4>Clay @cityManager.Clay.AvailableInt/@warehouseCapacity, +@cityManager.ClayPerHour</h4></div>
    <div class="col-md-3 text-@HtmlColors.Iron"><h4>Iron @cityManager.Iron.AvailableInt/@warehouseCapacity, +@cityManager.IronPerHour</h4></div>
    <div class="col-md-3 text-@HtmlColors.Wood"><h4>Wood @cityManager.Wood.AvailableInt/@warehouseCapacity, +@cityManager.WoodPerHour</h4></div>
    <div class="col-md-3 text-@HtmlColors.Crop"><h4>Crop @cityManager.Crop.AvailableInt/@granaryCapacity, +@cityManager.CropPerHour</h4></div>
</div>