@using BrowserGame.Internal
@using BrowserGame.Static
@{
    var cityManager = (CityManager)ViewData["CityManager"];
    ViewData["Title"] = cityManager.Name;
}

<div class="row justify-content-around text-center">
    <div class="col-3"><h3><a asp-area="" asp-page="Game/OuterCity">Outer City</a></h3></div>
</div>

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row justify-content-around text-center">
    <div class="col-md-3 text-@HtmlColors.Clay"><h4>Clay @cityManager.Clay.Available/@cityManager.Clay.MaxCapacity, +@cityManager.Clay.ProductionPerHour</h4></div>
    <div class="col-md-3 text-@HtmlColors.Iron"><h4>Iron @cityManager.Iron.Available/@cityManager.Iron.MaxCapacity, +@cityManager.Iron.ProductionPerHour</h4></div>
    <div class="col-md-3 text-@HtmlColors.Wood"><h4>Wood @cityManager.Wood.Available/@cityManager.Wood.MaxCapacity, +@cityManager.Wood.ProductionPerHour</h4></div>
    <div class="col-md-3 text-@HtmlColors.Crop"><h4>Crop @cityManager.Crop.Available/@cityManager.Crop.MaxCapacity, +@cityManager.Crop.ProductionPerHour</h4></div>
</div>